.cust-small-font{
  font-size: 10px;
}

.carousel .carousel-item {
  height: 40vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 40vh;
}

@media screen and (max-width: $proj-sm) {
  .carousel .carousel-item {
    height: 40vh;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 40vh;
  }
}

@media screen and (min-width: $proj-lg) {
  .carousel .carousel-item {
    height: 80vh;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 80vh;
  }
}
  